@keyframes throw-right {
    0% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(400px, -100px) rotate(180deg); }
    100% { transform: translate(830px, 0) rotate(360deg); }
}

@keyframes projectile-right {
    0% { transform: translate(0,0) rotate(0deg); }
    100% { transform: translate(1100px,0) rotate(0deg); }
}

.projectile-right {
    animation: projectile-right 0.3s linear;
}

.throw-right {
    animation: throw-right 0.6s ease-out;
}

@keyframes throw-left {
    0% { transform: translate(0, 0) rotate(0deg); }
    50% { transform: translate(-400px, -100px) rotate(180deg); }
    100% { transform: translate(-730px, 0) rotate(360deg); }
}

.throw-left {
    animation: throw-left 0.6s ease-out;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 5px); }
    50% { transform: translate(5px, -5px); }
    75% { transform: translate(-5px, -5px); }
    100% { transform: translate(0, 0); }
}

.shake {
    animation: shake 0.3s ease-in-out;
}

::-webkit-scrollbar {
    display: none;
}

body {
    padding: 1cm 1cm 1cm 1cm;
    overflow: auto;
    background-image: url("./imgs/bg.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Games', sans-serif;
}

button {
    width: 200px;
    height: 30px;
    background-color: #B4EBE6;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 3px solid black;
}

.health-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: #eeeeee41;
}

.options {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 30px;
}

.health-bar {
    width: 500px;
    height: 100%;
    color: black;
    background-color: #eeeeee41;
    border: 5px solid black;
}

#kingsud-health {
    background-color: #16C47F;
    width: 500px;
    height: 100%;
}

#npc-health {
    background-color: #16C47F;
    text-align: right;
    width: 500px;
    height: 100%;
}

.char-container {
    padding: 1cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.char {
    width: 400px;
    height: 400px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 200px;
    height: 30px;
    position: absolute;
    background-color: white;
    min-width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.weapon {
    width: 150px;
    height: 250px;
}

.projectile {
    height: 50px;
    width: 200px;
}

#kingsud-sword {
    position: absolute;
    left: 350px;
    top: 150px;
}

#kingsud-bow {
    position: absolute;
    left: 50px;
    top: 150px;
}

#kingsud-arrow {
    position: absolute;
    left: 50px;
    top: 250px;
}

#ops-weapon {
    position: absolute;
    right: 360px;
    top: 130px;
}