section {
    padding: 1.2rem clamp(0.6rem, 6vw, 4.8rem);
    width: 100%;
    height: 100svh;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
  }
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

.main-navbar h1 {
    font-family: "Boldonse", system-ui;
    font-weight: 100;
    font-style: normal;
    font-size: clamp(1rem, calc(1.8vw + 0.3rem), 1.3rem);
}

.main-navbar h1 span {
    -webkit-text-stroke: 1px #4C7BF3;
    color: white;
}

.main-navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem clamp(0.5rem, 5vw, 4rem);
    background: #ffffff;
    z-index: 1000;
    color: #4C7BF3;
    backdrop-filter: blur(6px);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.main-footer {
    /* font-family: "apercu", -apple-system, system, sans-serif; */
    padding: 1.5rem clamp(0.9rem, 9vw, 7.2rem);
    width: 100%;
    height: 27svh;
    display: flex;
    background-color: #4C7BF3;
    font-size: 0.4rem;
    font-weight: 100;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;
    text-align: center;
}

.main-footer h2 {
    color: white;
}

.main-footer li {
    list-style-type: none;
}  

.main-footer > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.main-footer > div:first-child {
    font-size: 0.5rem;
    text-align: left;
}

.main-footer > div:first-child h2 {
    max-width: 70%;
}

/* .main-footer > div:last-child h2 {
    max-width: 55%;
} */

.main-footer > div:last-child {
    text-align: right;
    /* display: flex; */
    /* justify-content: flex-end; */
}

.main-footer ul {
    font-size: 0.75rem;
    font-weight: 300;
}

.main-footer img {
    color: white;
    max-width: 100%;
    height: 4rem;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    filter: brightness(0) invert(1);
    image-rendering: auto;
}

.form form {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: 10px;
}

#form-kiri, #form-kanan {
    display: flex;
    flex-direction: column;
}

#alamat {
    resize: none;
}

#thumbnail {
    max-width: 100px;  
    max-height: 150px; 
    object-fit: contain; 
}

input, textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 1em;
}

button {
    color: #4D73FF;
    padding: 0.4rem clamp(0.36rem, 1.8vw, 0.72rem);
    font-size: clamp(0.682rem, 1.56vw, 0.85rem);
    background: white;
    border: 0.6px solid #4C7BF3;
    border-radius: clamp(3.6px, 0.6vw, 7.2px);
}

nav button:first-of-type {
    border: 0px;
    font-weight: 500;
}

  
@media (max-width: 768px) {
    nav button {
      width: 100%;
    }
}